#media-nav {
    padding-left:3rem;
    padding-right:3rem;
    padding-top:1rem;
    padding-bottom:1rem;
}

.media-nav-item {
    padding:.5rem;
    border:solid;
    border-width:2px;
    border-color:black;
    margin: 10px;
    text-align: center;
}

.media-nav-item:hover {
    cursor: pointer;
}

.current-nav-item {
    background-color:#F1AB5E
}

.input-area {
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;;
    margin-bottom: 2rem
}

.media-holder:hover {
    box-shadow: 0px 0px 3px black;
}

.photo-holder {
    margin:.4rem;
}

.video-holder {
    display:block;
    margin:.4rem;
}

.audio-holder {
    display:block;
    margin:.4rem;
    width: 80%;
    margin-right:10%;
    margin-left:10%;
}

.text-holder {
    border:solid;
    border-width: 1px;
    border-radius: 6px;
    padding: .6rem;
    margin: .6rem;
    margin-right: 10%;
    margin-left: 10%;
}

button {
    float: right;
}

button:hover {
    cursor: pointer;
}

img {
    height: 200px;
    width: auto
}