.nav-button {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 9rem;
    margin: 10px;
    border:solid;
    border-color:black;
    border-radius: 30px;
    opacity: .8;
    color:black;
    font-size: 3rem;
    text-shadow: 3px 3px 1px #eee, -3px 3px 1px #eee, 3px -3px 1px #eee, -3px -3px 1px #eee;
    margin-bottom: 30%;
    height: 20rem;
}

.nav-button:hover {
    cursor: pointer;
    opacity: 1;
}

#my-trees-link {
    background-image: url(../images/my_trees.jpeg);
    /* image: https://jfcs-eastbay.org/community-memorials-for-the-pittsburgh-victims/tree-of-life/ */
    background-size: cover;
    background-position: center;
}

#media-link {
    background-image: url(../images/media.jpeg);
    /* image: https://pxhere.com/en/photo/1196210 */
    background-size: cover;
    background-position: center;
}

#new-tree-link {
    background-image: url(../images/new_tree.jpeg);
    /* image: https://homeguides.sfgate.com/happens-stump-tree-bacteria-feeds-off-it-99787.html */
    background-size: cover;
    background-position: center;
}