<!DOCTYPE html>
<html>
  <head>
    <title>About | Family Tree</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="navbar-brand" href="#">Family Tree</div>
      <div class="navbar-nav" id="nav-item-container">
        <!-- navbar items are inserted here -->
      </div>
    </nav>


    <div class="about-data">
      <div class="text-center col-md-6 col-md-offset-4" style="background:blue">
        <h1> SITE NAME </h1>
        <p> Lorem ipsum dolor sit amet, pri equidem feugait ut, ut vel ullum melius, ex eos alia cibo animal. Quas summo aliquip sed ea, vocent suavitate mei in, case doming accusata et sea. Sea aliquam constituam in. </p>
      </div>
    </div>

  </body>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
</html>
