<!DOCTYPE html>
<html>
  <head>
    <title id="title-place"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/tree-builder.css">
    <link rel="stylesheet" href="/static/css/media-gallery-builder.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="navbar-id">
      <div class="navbar-brand" href="#">GenKin</div>
      <div class="navbar-nav" id="nav-item-container">
        <!-- navbar items are inserted here -->
      </div>
    </nav>

    <div class="about-data" id="main-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="builder-nav">
      <a class="navbar-brand disabled" href="#">Edit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="add-nav-button">CLICK HERE TO START<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" id="save-nav-button">Save</a>
          <a class="nav-item nav-link" id="ar-nav-button">Render in AR</a>
          <a class="nav-item nav-link" id="vr-nav-button">Render in VR</a>
        </div>
      </div>
    </nav>
    </div>
  </body>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/tree-builder.js"></script>
</html>
