<!DOCTYPE html>
<html>
  <head>
    <title id="title-place"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/visual.css">
    <link rel="stylesheet" href="/static/css/tree-visual.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="navbar-id">
      <div class="navbar-brand"  id="nav-head">GenKin</div>
      <div class="navbar-nav" id="nav-item-container">
        <!-- navbar items are inserted here -->
      </div>
    </nav>

    <div class="about-data">
        <div class="text-center" id="user-heading">
            <!-- add username heading here -->
        </div>
        <div id="main-container">
          <div id="tree">

          </div>
        </div>
    </div>

    <!--The Modal follows-->

    

    <div id="myModal" class="modal">
    
      <div class="modal-content">
        <div id="modal-header">
          <!--Modal header added here with h2 tags-->
          <!-- <span id="close">&times;</span> -->
        </div>
        <div id="modal-body">
          <!--Modal body added here-->
        </div>
      </div>
    
    </div>

  </body>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/navbar.js"></script>
  <script src="/static/js/visual.js"></script>
</html>
